[Unit]
Description=PROTOCOL 3 - PROTECT THE USER
After=BT-protocol-2.service

[Service]
Type=oneshot
ExecStart=/bin/bash /bin/do_nothing
[Install]
WantedBy=multi-user.target

